{{>header}}
{{>navbar}}
<div class="container ">
    <div class="my-4 text-center">
        <h3>Edit Transaction #{{transaction.tranNum}}</h3>
    </div>
    <form method="post">
        <div class="my-3">
            <div> Selet Transaction Type : </div>
            <input type="radio" name="type" id="add" value='add'{{#if add}} checked{{/if}}>
            <label for='add'>add</label>
            <input type="radio" name="type" id="withDraw" value='withDraw' {{#if add}}{{else}} checked{{/if}}>
            <label for='withDraw'>withDraw</label>
        </div>
        <div class="my-3 ">
            <label>Enater the value : </label>
            <input type="number" name="value" class='form-control w-50' value='{{#if errors.trns.val}}{{errors.trns.val}}{{else}}{{transaction.value}}{{/if}}'>
        </div>
        {{#if errors.trns.err}}
        <div>
            <p class="text-danger">
                {{errors.trns.err}}
            </p>
        </div>
        {{/if}}
        <div class="my-3">
            <input class='btn btn-outline-dark' type="submit" value="add transaction">
        </div>
    </form>
</div>
{{>footer}}